<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-1.6.xsd">

	<context:component-scan base-package="com.stu.*" />
	<context:property-placeholder location="classpath:application.properties" />

    <!-- 连接broker -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbitmq.master.ip}" port="${rabbitmq.master.port}" />
		
    <!-- 消息发布Template -->
	<rabbit:template id="amqpTemplate" connection-factory="connectionFactory"
		exchange="myExchange" routing-key="foo.bar" />

    <!-- rabbit:admin用于管理（创建和删除） exchanges, queues and bindings等 -->
	<rabbit:admin connection-factory="connectionFactory" />

    <!-- 定义队列 -->
	<rabbit:queue name="myQueue" />

    <!-- 消息发布Exchange -->
	<rabbit:topic-exchange name="myExchange">
		<rabbit:bindings>
		    <!-- 绑定消息发布规则 -->
			<rabbit:binding queue="myQueue" pattern="foo.*" />
		</rabbit:bindings>
	</rabbit:topic-exchange>

    <!-- 消息订阅 -->
	<rabbit:listener-container
		connection-factory="connectionFactory">
		<rabbit:listener ref="myListener" method="listen"
			queue-names="myQueue" />
	</rabbit:listener-container>
	<!-- 订阅处理类 -->
	<bean id="myListener" class="com.stu.maven.web.listener.MyListener" />
</beans>